.grid-container {
    display: grid;
    /* grid-template-columns: repeat(2, 1fr); */
    /* grid-template-rows: repeat(1, 2fr); */
    
  }
  
  img {
    
    object-fit: cover;
  }

  #back-to-top-btn {
    display: none; /* hide the button by default */
    position: fixed; /* fix the position of the button */
    bottom: 20px;
    right: 20px;
    font-size: 24px;
    border: none;
    outline: none;
    background-color: #555;
    color: white;
    cursor: pointer;
    padding: 15px;
    border-radius: 10px;
    transition: opacity 0.2s ease-in-out;
  }
  
  #back-to-top-btn:hover {
    opacity: 0.8; /* reduce the opacity of the button on hover */
  }
  
  